@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

*
{
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.header {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.content-section {
    margin-top: 20px;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
