{% extends 'panel/base.html' %}
{% load crispy_forms_tags %}

{% block additional_navlink %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'panel-note-create' %}">New note</a>
</li>
{% endblock additional_navlink %}

{% block content %}
<article class="media content-section mb-5">
  <div class="media-body">
      <legend>Current course:</h2>
      <h2>{{ course.name }}</h2>
  </div>
</article>

<h3>Published notes:</h3>
{% for note in notes %}
  <!-- Displays only notes that belong to current user -->
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ note.author }}</a>
        <small class="text-muted">{{ note.date_posted|date:"d F, Y  H:i" }}</small>
        <h6>{{ note.course }}</h6>
      </div>
      <h2><a class="article-title" href="{% url 'panel-note-detail' note.id %}">{{ note.title }}</a></h2>
      <p class="article-content">{{ note.content }}</p>
      <form action="{% url 'panel-like-note-view' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="note_id" value="{{ note.id }}">
        <button type="submit" class="btn btn-primary">
            {% if user not in note.liked.all %}
              <i>Like</i>
            {% else %}
              <i>Unlike</i>
            {% endif %}
        </button>
        <span class="ml-2">{{ note.get_likes_count }}</span>
      </form>

      <!-- Comment section in a current note -->
      <button class="btn btn-info mt-3 mb-0 btn-comments">Show / Hide comments</button>
      <div class="comment-block" id="{{forloop.counter0}}">
        {% if note.comment_set.all %}
        <legend class="mb-0 pb-0 mt-2">Comments:</legend>
        {% endif %}

        {% for comment in note.get_comments %}
          <div class="content-section mt-3 mb-0 pd-0 pb-0 pt-0">
            {{comment.content}}, by {{comment.user}} on {{comment.date_posted}} inside {{comment.note}}
          </div>
        {% empty %}

        {% endfor %}
      </div>

      <div class="content-section mt-3 mb-0">
        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="note_id" value="{{ note.id }}">
          {{ c_form|crispy }}
          <button class="btn btn-outline-primary btn-sm" type="submit" name="submit_comment">Comment</button>
        </form>
      </div>
    </div>
  </article>
{% endfor %}

{% if notes.has_other_pages %}
  {% if notes.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ notes.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in notes.paginator.page_range %}
    {% if notes.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > notes.number|add:'-3' and num < notes.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if notes.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ notes.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ notes.paginator.num_pages }}">Last</a>
  {% endif %}
{% endif %}
{% endblock content %}

{% block additional_js %}
{{ block.super }}
{% load static %}
<script src="{% static 'panel/course.js' %}"></script>
{% endblock additional_js %}
