{% extends 'panel/base.html' %}

{% block additional_navlink %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'panel-note-create' %}">New note</a>
</li>
{% endblock additional_navlink %}

{% block content %}
<article class="media content-section">
    <div class="media-body">
        <legend>Current course:</h2>
        <h2>{{ object }}</h2>
    </div>
</article>

{% for note in notes %}
    <!-- Displays only notes that belong to current user -->
    {% if note.author == user and note.course.name == object.name %} 
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ note.author }}</a>
            <small class="text-muted">{{ note.date_posted|date:"d F, Y" }}</small>
            <h6>{{ note.course }}</h6>
          </div>
          <h2><a class="article-title" href="{% url 'panel-note-detail' note.id %}">{{ note.title }}</a></h2>
          <p class="article-content">{{ note.content }}</p>
        </div>
      </article>
    {% endif %}
  {% endfor %}
{% endblock content %}