{% extends 'panel/base.html' %}

{% block additional_navlink %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'panel-note-create' %}">New note</a>
</li>
{% endblock additional_navlink %}

{% block content %}
<h3>Attended courses:</h3>
{% for course in user.profile.courses.all %}
    <article class="media content-section">
    <div class="media-body">
        <a href="{% url 'panel-course' course.id %}"><h2>{{ course.name }}</h2></a>
    </div>
    </article>
{% endfor %}

<h3>Available courses:</h3>
{% endblock content %}