{% extends 'panel/base.html' %}

{% block content %}
  <legend>Shared materials:</legend>
  <article class="media content-section">
    <h6 class="article-title">No one shared anything with you yet.</h6>
  </article>

  <legend>Your courses:</legend>
  <article class="media content-section">
    {% if user.profile.get_courses %}
      {% for course in user.profile.courses.all %}
        <a href="{% url 'panel-course' course.id %}"><h6 class="article-title">{{ course }}</h6></a>
      {% endfor %}
    {% else %}
      <h6 class="article-title">You do not attend any courses yet :(</h6>
    {% endif %}
  </article>

  <legend>Your {{ notes|length }} latest notes:</legend>
  <div class="row">
  {% for note in notes %}
    <!-- Displays only notes that belong to current user -->
    <div class="col">
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ note.author }}</a>
            <small class="text-muted">{{ note.date_posted|date:"d F, Y  H:i" }}</small>
            <h6 class="article-course">{{ note.course }}</h6>
          </div>
          <h4><a class="article-title" href="{% url 'panel-note-detail' note.id %}">{{ note.title }}</a></h4>
          <p class="article-content">{{ note.content }}</p>
          <h6>Likes: {{ note.get_likes_count }}</h6>
        </div>
      </article>
    </div>
{% endfor %}
</div>
{% endblock content %}
