{% extends 'panel/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}

                <!-- Temporary field to display user's friends -->
                <legend class="border-bottom mb-2">Friends ({{ user.profile.get_friends_count}}):</legend>
                {% for friend in user.profile.get_friends %}
                    <h6>{{ friend }}</h6>
                {% endfor %}

                <!-- Temporary field to display user's courses -->
                <legend class="border-bottom mb-2">Courses: ({{ user.profile.get_courses_count}}):</legend>
                {% for course in user.profile.get_courses %}
                    <a href="{% url 'panel-course' course.id %}"><h6>{{ course.name }}</h6></a>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}